/* @keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 204, 0, 0.5);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(255, 204, 0, 0.8);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 204, 0, 0.5);
    }
} */

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    margin: 50px;
    background: url('imgqrcode.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(4px);
    z-index: -1;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    margin-left: 50px;
    margin: 50px;
}

input {
    padding: 10px;
    margin: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

button {
    font-size: 18px;
    background: transparent;
    padding: 10px 20px;
    border: 2px solid #ffdd33;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    animation: pulse 1.5s infinite;
}

#download {
    margin-top: 15px;
    padding: 10px 20px;
    border: 2px solid #ffdd33;
    border-radius: 5px;
    background: transparent;
    color: #006b00;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px
}

button:hover, #download:hover {
    background: #ffdd33;
    color: black;
}

#qrcodeContainer {
    margin-top: 20px;
    position: center;
}

#qrcodeContainer img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 3px solid #ffdd33;
}

#qrCodeImage {
    width: 200px;
    height: 200px;
    display: flex;
    margin: 15px auto;
    border-radius: 8px;
    justify-content: center;
}

@media (max-width: 768px) {
    body {  
        margin: 0 auto; 
    }
    
    .container {  
        width: 98%;  
        padding: 40px; 
    }

    input {  
        width: 80%;
        font-size: auto;
        margin: 15px auto;
    }  

    button {  
        width: 150px; 
        font-size: auto;
        margin: 5px auto;
    }
}